*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.226), rgb(65, 60, 33));
    height: 100vh;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 16px;
    text-align: center; 
}

.botao-calculadora{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 4px;
}

.botao-calculadora:hover{
    background-color: rgb(155, 154, 154);
}

#resultado{
    background-color: white;
    width: 209px;
    height: 30px;
    margin: 8px;
    padding: 9px;
    font-size: 26px;
    color: black;
    text-align: right;
}